<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GPA</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/gpa.css">
</head>
<body>
  <header>
    <h1>GPA</h1>
    <p>Tính điểm tín chỉ và mục tiêu</p>
  </header>
  <div class="container">
    <div class="left-column">
      <div class="box">
        <h2>Giới thiệu</h2>
        <p>Study Buddy là ứng dụng tính điểm trung bình tích lũy theo tín chỉ. Nó sẽ giúp bạn đưa ra được mục tiêu cụ thể để bạn có thể dễ dàng biết được mình cần cố gắng thêm bao nhiêu tín chỉ A, B nữa!</p>
      </div>
    </div>
    <div class="right-column">
      <div class="box">
        <a href="/study_result" class="box">Kết quả học tập</a>
        <p>Xem kết quả học tập của bạn.</p>
      </div>
      <div class="box">
        <a href="/study_target" class="box">Mục tiêu học tập</a>
        <p>Đặt mục tiêu cho học tập của bạn</p>
      </div>
      <div class="box">
        <a href="/study_statistics" class="box">Thống kê</a>
        <p>Xem thống kê học tập của bạn.</p>
      </div>
    </div>
  </div>
  <div>
    <a href="/home" class="back-button">Quay về trang chủ</a>
  </div>
</body>
</html>