<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>Study Buddy</title>
</head>
<body>
    <nav>
        <div class="nav__bar">
            <div class="nav__header">
                <!-- <div class="logo nav__logo">
                    <span>Study Buddy</span>
                </div> -->
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>Welcome to Study Buddy</h1>
        <p>Chọn một trong các mục dưới đây để tiếp tục</p>
        <div class="options">
            <a href="/calendar" class="option">
                <i class="ri-calendar-line"></i>
                <span>Lập kế hoạch</span>
            </a>
            <a href="/gpa" class="option">
                <i class="ri-bar-chart-line"></i>
                <span>GPA</span>
            </a>
            <a href="/notice" class="option">
                <i class="ri-notification-line"></i>
                <span>Thông báo</span>
            </a>
        </div>
        <div>
            <a href="/" class="back-button">Đăng xuất</a>
        </div>
    </div>
    <script src="/static/js/homepage.js"></script>
</body>
</html>