<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notice</title>
    <link rel="stylesheet" href="/static/css/notice.css">
</head>
<body>
    <div class="container">
        <h1>Thông báo</h1>
        <div id="notices">
            <!-- Thông báo sẽ được hiển thị ở đây -->
              16/11/2025  09:30:AM: Thêm kế hoạch: Kiểm tra cuối kỳ Kĩ thuật phần mềm
                <div class="notice">
                    <p>16/11/2025  11:00:AM: Hủy kế hoạch: Kiểm tra cuối kỳ Kĩ thuật phần mềm
                </div>
              16/11/2025  01:30:PM: Thêm kế hoạch: Trả sách cho thư viện</p>
                <div class="notice">
                    <p>16/11/2025  03:45:PM: Thêm kế hoạch: Họp nhóm nghiên cứu khoa học</p>
                </div>
                16/11/2025  05:15:PM: Hủy kế hoạch: Trả sách cho thư viện
        </div>
        <a href="/home" class="back-button">Quay về trang chủ</a>
    </div>
</body>
</html>